<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sz002236</key>
	<string>dh</string>
	<key>sh000001</key>
	<string>sz</string>
	<key>sh601318</key>
	<string>pa</string>
	<key>sh601456</key>
	<string>gl</string>
	<key>sh601878</key>
	<string>zs</string>
	<key>sh600398</key>
	<string>hl</string>
</dict>
</plist>
