<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sz002236</key>
	<string>dh</string>
	<key>sz002555</key>
	<string>sq</string>
	<key>sh000001</key>
	<string>sz</string>
	<key>sz300498</key>
	<string>ws</string>
	<key>sh601318</key>
	<string>pa</string>
	<key>sz159856</key>
	<string>Net50</string>
	<key>sh600570</key>
	<string>hs</string>
</dict>
</plist>
