<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sz002236</key>
	<string>dh</string>
	<key>sz002415</key>
	<string>hk</string>
	<key>sh000001</key>
	<string>sz</string>
	<key>sh603568</key>
	<string>wm</string>
	<key>sh512690</key>
	<string>洒ETF</string>
	<key>sz300498</key>
	<string>ws</string>
	<key>sh603198</key>
	<string>yj</string>
	<key>sh601878</key>
	<string>zs</string>
	<key>sh601456</key>
	<string>gl</string>
	<key>sh601318</key>
	<string>pa</string>
	<key>sz002555</key>
	<string>sq</string>
	<key>sh600570</key>
	<string>hs</string>
	<key>sh600398</key>
	<string>hl</string>
</dict>
</plist>
